@import 'variables';
@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import 'nav.scss';
@import 'class';
@import 'animation';

html {
  background-color: white;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color: #232323;
  width: 100vw;
  height: 100vh;
}

section {
  height: 100vh;
  width: 100vw;
}

section:nth-of-type(1) {
  color: silver;
  font-size: 8rem;
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;

  svg {
    fill: rgb(185, 171, 101);
    position: relative;
    height: 200px;
    margin-top: -300px;
    transition: all 2s;
    opacity: 0;
  }

  #greetingWrapper {
    font-family: 'Roboto', serif;
    //line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50vh;
    opacity: 0;

    span:nth-child(1) {
      font-weight: 300;
      font-size: 3rem;
      letter-spacing: 10px;
      color: $NewSilver;
    }
    span:nth-child(2) {
      font-weight: 800;
    }
    span:nth-child(3) {
    }
  }
}

section:nth-of-type(2) {
  height: 200vw;
  background: rgb(35, 35, 35);
  background: linear-gradient(
    165deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(35, 35, 35, 1) 10%,
    rgba(35, 35, 35, 1) 15%,
    rgba(35, 35, 35, 1) 22%,
    rgba(57, 57, 57, 1) 32%,
    rgba(73, 72, 72, 1) 39%,
    rgba(98, 96, 96, 1) 50%,
    rgba(111, 109, 109, 1) 56%,
    rgba(129, 127, 127, 1) 60%,
    rgba(165, 162, 162, 1) 68%,
    rgba(197, 193, 193, 1) 75%,
    rgba(233, 228, 228, 1) 83%,
    rgba(255, 250, 250, 1) 88%,
    rgba(255, 255, 255, 1) 92%,
    rgba(255, 255, 255, 1) 93%,
    rgba(255, 255, 255, 1) 97%
  );
}

section:nth-of-type(3) {
  height: calc(100vh + 200px);
  background: rgb(131, 58, 180);
  background: linear-gradient(
    41deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(164, 64, 150, 1) 24%,
    rgba(206, 73, 111, 1) 62%,
    rgba(252, 82, 69, 1) 100%
  );

  #corner {
    position: fixed;
    top: 1000px;
    right: 0px;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    background: linear-gradient(45deg, grey 10%, silver 25%, grey 49%, #787878 1%, lightgrey 50%);
    box-shadow: 0px 6px 9px 1px #23232377;
    div {
      @import url('https://fonts.googleapis.com/css?family=Pacifico');
      font-family: 'Pacifico', cursive;
      position: absolute;
      font-size: 24px;

      top: 1px;
      left: 30px;
      transform: rotate(45deg);
    }
  }
}

footer {
  width: 100vw;
  height: 200px;
  background-color: #232323;
}
