@import 'colors';
@import 'variables';
nav {
  position: fixed;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: $navHeight;
  justify-content: center;
  align-items: center;
  background-color: silver;
  z-index: 1;
  overflow: hidden;
  box-shadow: 1px 0px 10px #232323;

  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 60px;
  }
  

  #logo {
    svg{
      height: 42px;
      width: 42px;
      position: relative;
      top: 5px;
      right: -8px;
      fill: #777777;
      transition: all .5s;
    }
    svg:hover {
      fill: $dark-gold;
    }
    
    font-size: 45px;
    z-index: 4;
    //background-color: red;
    //position: fixed;
  }


  #cover {
    width: 150px;
    height: 45px;
    background-color: silver;
    position: absolute;
    z-index: 3;
  }

  #line {
    display: flex;
    justify-content: space-between;
    align-items: initial;
    height: 42px;
    width: 2px;
    margin: 10px;
    z-index: 10;
  }

  #name {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  #name span {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .linkWrapper {
    display: flex;
    margin: 0 60px 0 0;
    //background-color: green;

    div {
      font-size: 18px;
      font-weight: 300;
      padding: 0 20px 0 20px;
      cursor: pointer;
      transition: 0.8s;
      //background-color: red;
    }
    .underline {
      position: relative;
      background-color: #232323;
      height: 3px;
      transform: scaleX(0) translateY(4px);
      transition: all 0.5s;
      box-shadow: 1px 1px 1px #5c5c5c;
    }
  }
}